{% if pagination.pages > 0 %}
  <nav role="navigation" class="pagination">
    {% if pagination.previous %}
      <a href="{{ pagination.previous.url }}" class="pag-btn">
        <img
          src="{{ 'left-arrow.svg' |  asset_url }}"
          alt=""
          class="icon">
      </a>
    {% endif %}

    <div class="pag-numbers">
      {% for part in pagination.parts %}
        {% if part.is_link %}
          <a href="{{ part.url }}">{{ part.title }}</a>
        {% else %}
          <span class="active">{{ part.title }}</span>
        {% endif %}
      {% endfor %}
    </div>

    {% if pagination.next %}
      <a href="{{ pagination.next.url }}" class="pag-btn">
        <img
          src="{{ 'right-arrow.svg' |  asset_url }}"
          alt=""
          class="icon">
      </a>
    {% endif %}
  </nav>
{% endif %}